<?xml version='1.0' encoding='UTF-8'?>  
<!DOCTYPE hibernate-configuration PUBLIC  
   "-//Hibernate/Hibernate Configuration DTD 5.3//EN"  
   "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">  

<hibernate-configuration>  
   <session-factory>  
            <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/Practica3</property>
      <property name="hbm2ddl.auto">update</property>  
      <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>  
      <property name="connection.username">postgres</property>  
      <property name="connection.password">postgres</property>  
      <property name="connection.driver_class">org.postgresql.Driver</property>
      
      <property name="connection_pool_size">1</property>  
      <property name="hdm2dd1.auto">none</property>
      <property name="show_sql">true</property>

      <property name="hibernate.current_session_context_class">thread</property>      
      
      <mapping class="org.uv.dapp02practica03.EmpleadoPojo"/>  
      
      
   </session-factory>  
</hibernate-configuration>